Web References/Servicio/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Acceder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccederResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccederResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductoShow">
        <s:complexType />
      </s:element>
      <s:element name="ProductoShowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductoShowResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDaldo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saldo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDaldoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarDaldoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtId">
        <s:complexType />
      </s:element>
      <s:element name="ObtIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="registrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:registrarUsuario" />
  </wsdl:message>
  <wsdl:message name="registrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:registrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InfoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InfoUsuario" />
  </wsdl:message>
  <wsdl:message name="InfoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InfoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AccederSoapIn">
    <wsdl:part name="parameters" element="tns:Acceder" />
  </wsdl:message>
  <wsdl:message name="AccederSoapOut">
    <wsdl:part name="parameters" element="tns:AccederResponse" />
  </wsdl:message>
  <wsdl:message name="ProductoShowSoapIn">
    <wsdl:part name="parameters" element="tns:ProductoShow" />
  </wsdl:message>
  <wsdl:message name="ProductoShowSoapOut">
    <wsdl:part name="parameters" element="tns:ProductoShowResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarDaldoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarDaldo" />
  </wsdl:message>
  <wsdl:message name="ActualizarDaldoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarDaldoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObtId" />
  </wsdl:message>
  <wsdl:message name="ObtIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObtIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarUsuario">
      <wsdl:input message="tns:registrarUsuarioSoapIn" />
      <wsdl:output message="tns:registrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InfoUsuario">
      <wsdl:input message="tns:InfoUsuarioSoapIn" />
      <wsdl:output message="tns:InfoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Acceder">
      <wsdl:input message="tns:AccederSoapIn" />
      <wsdl:output message="tns:AccederSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductoShow">
      <wsdl:input message="tns:ProductoShowSoapIn" />
      <wsdl:output message="tns:ProductoShowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDaldo">
      <wsdl:input message="tns:ActualizarDaldoSoapIn" />
      <wsdl:output message="tns:ActualizarDaldoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtId">
      <wsdl:input message="tns:ObtIdSoapIn" />
      <wsdl:output message="tns:ObtIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSoap" type="tns:ServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUsuario">
      <soap:operation soapAction="http://tempuri.org/registrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoUsuario">
      <soap:operation soapAction="http://tempuri.org/InfoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Acceder">
      <soap:operation soapAction="http://tempuri.org/Acceder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoShow">
      <soap:operation soapAction="http://tempuri.org/ProductoShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDaldo">
      <soap:operation soapAction="http://tempuri.org/ActualizarDaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtId">
      <soap:operation soapAction="http://tempuri.org/ObtId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioSoap12" type="tns:ServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/registrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoUsuario">
      <soap12:operation soapAction="http://tempuri.org/InfoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Acceder">
      <soap12:operation soapAction="http://tempuri.org/Acceder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoShow">
      <soap12:operation soapAction="http://tempuri.org/ProductoShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDaldo">
      <soap12:operation soapAction="http://tempuri.org/ActualizarDaldo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtId">
      <soap12:operation soapAction="http://tempuri.org/ObtId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="ServicioSoap" binding="tns:ServicioSoap">
      <soap:address location="http://192.168.1.64:90/Servicio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioSoap12" binding="tns:ServicioSoap12">
      <soap12:address location="http://192.168.1.64:90/Servicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>